@use "values";

.site-header {
    width: 100vw;
    max-width: 100%;
    height: 70px;
    color: white;
    background-color: values.$blue;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;

    .home {
        color: white;
        text-decoration: none;
        display: inline-flex;
        min-height: 100%;
        align-items: center;
        font-size: 2rem;
        cursor: pointer;

        @media (max-width: 400px) {
            font-size: 1.8em;
        }

        &:visited {
            color: white;
        }

        span {
            margin-left: 10px;
        }
    }

    .nav-container {
        @media screen and (max-width: 700px) {
            display: none;

            &.mobile-open,
            &.open-anim,
            &.is-closing {
                display: flex;
                position: fixed;
                justify-content: flex-end;
                z-index: 2;
                top: 0px;
                right: 0px;
                width: 100%;
                height: 100%;
                background-color: values.$grayed-out;
                color: values.$blue;
                font-size: 1.5rem;
            }

            &.open-anim,
            &.is-closing {
                animation-name: nav-open;
                animation-duration: 600ms;
                animation-timing-function: ease-in;
                animation-direction: normal;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

            &.is-closing {
                animation-direction: reverse;
            }
        }
        nav {
            right: 0px;
            width: 200px;
            min-height: 100%;
            display: flex;
            align-items: center;
            overflow-x: hidden;

            @media screen and (max-width: 700px) {
                background-color: values.$light-background;
                flex-direction: column;
            }

            button {
                display: none;
                @media screen and (max-width: 700px) {
                    display: inline-block;
                    margin-top: 20px;
                    font-size: 2rem;
                }
            }

            a {
                margin: 10px;
                text-decoration: underline;
                cursor: pointer;
                font-size: 1.5rem;
            }
        }
    }

    .menu-button {
        display: none;
        font-size: 2rem;
        @media screen and (max-width: 700px) {
            display: block;
        }
    }
}

@keyframes nav-open {
    from {
        width: 0%;
    }
    to {
        width: 200px;
    }
}
