@use "values";

.edit-thread-container {
    padding: 20px;
    .label-input-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        @media (max-width: 450px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                margin-bottom: 5px;
            }

            input{
                max-width: 100%;
            }
        }
    }
    button {
        display: block;
        margin: auto;
    }

    @media (max-width: 450px) {
        padding: 0px;
    }
}
