@use "values";

.post-modal {
    form {
        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-bottom: 20px;
            label {
                margin-bottom: 5px;
            }
            .textarea-field {
                min-width: 90%;
                max-width: 95%;
                textarea {
                    min-height: 150px;
                    min-width: 100%;
                }
            }
        }
        button {
            display: block;
            margin: auto;
        }
    }

    @media (max-width: 400px) {


    }
}
