@use "values";

.posts-page {
    padding: 20px;

    h1 {
        font-size: 2rem;
        text-align: center;
        margin: 20px;
    }

    > ul {
        max-width: 800px;
        margin: auto;

        li {
            padding: 10px;
            box-shadow: 3px 3px 3px 3px gray;
            border-radius: 10px;
            display: grid;
            grid-template: auto auto 60px / calc(100% - 60px) 60px;
            grid-row-gap: 10px;
            margin: 20px;

            .poster-info {
                grid-area: 1/1 / 1/3;
                h2 {
                    font-size: 1.4rem;
                    display: inline-block;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                time {
                    font-size: 0.8rem;
                    text-wrap: none;
                    margin-left: 5px;
                    white-space: nowrap;
                }
            }

            .edit-button {
                font-size: 1.2rem;
                grid-area: 3/2;
            }

            p {
                grid-area: 2/1 / 2/3;
            }

            @media (max-width: 550px) {
                h2 {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .create-post {
        display: block;
        margin: auto;
    }
}
