@use "values";

.posts-page {
    padding: 20px;

    h1 {
        font-size: 2rem;
        text-align: center;
        margin: 20px;
    }

    > ul {
        max-width: 800px;
        margin: auto;

        li {
            padding: 10px;
            box-shadow: 3px 3px 3px 3px gray;
            border-radius: 10px;
            display: grid;
            grid-template: 1fr auto / auto 60px;
            grid-row-gap: 10px;
            margin: 20px;

            .poster-info {
                padding-right: 60px;
                grid-area: 1/1;
                h2 {
                    font-size: 1.4rem;
                    display: inline-block;
                    margin-right: 5px;
                }
                time {
                    font-size: 0.8rem;
                }
            }

            .edit-button {
                font-size: 1.2rem;
                grid-area: 1/2;
            }

            p {
                grid-area: 2/1 / 2/2;
            }
        }
    }

    .create-post {
        display: block;
        margin: auto;
    }
}
