@use "values";

.textarea-field {
    textarea {
        outline: #333333 solid 1px;
        border-radius: 5px;
        max-width: 100%;

        @media (max-width: 450px) {
            font-size: 1rem;
        }
    }

    textarea.error {
        outline: #ff544a solid 2px;
    }

    .input-error {
        font-size: 0.8rem;
        text-align: right;
    }
}
